.expense-form{
    display: flex;
    flex-direction: column;
}

.expense-detail{
    width: 95%;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 1rem;
}
.expense-submit{
    align-self: flex-end;
    margin: 1rem;
    margin-top: 0;
}
.btn{
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
}
.expense-detail__input{
    margin-bottom: 0.6rem;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
}
.expense-detail__input label{
    font-size: 1.2rem;
}

.expense-detail__input input{
    height: 2.3rem;
    width: 16rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    padding: 0 0.5rem;
}

.newExpense-btn-box{
    height: 6rem;
    position: relative;

}

.newExpense-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}